<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <meta name="format-detection" content="telephone=no, address=no, email=no">

    <link rel="shortcut icon" href="../../img/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../../css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../../css/slick.css">
    <link type="text/css" rel="stylesheet" href="../../css/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="../../css/css.css">
    <link type="text/css" rel="stylesheet" href="../../css/new_layout.css">

    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5T4LZPV"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NZDR68JW"></script>
    <script async="" src="//st2.exelbid.com/js/cts2.js"></script>
    <script async="" defer="" src="https://cdn.megadata.co.kr/dist/prod/enp_tracker_self_hosted.min.js"></script>

    <script type="text/javascript" src="../../js/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="../../js/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery.sticky.js"></script>
    <script type="text/javascript" src="../../js/common_ui.js"></script>
    <title>렌탈 전체 지도 | NEXT LEVEL</title>
</head>

<body>
    <!-- //allWrap -->
    <div class="allWrap" id="allWrap">
        <!-- allWrap -->

        <!-- //header 퍼블 예시-->
        <div id="headerWrap">
            <script>
                $(document).ready(function () {
                    $("#headerWrap").load("../header.html");
                });
            </script>
        </div>
        <!-- header 퍼블 예시-// -->

        <!--subContentsWrap-->
        <div class="subContentsWrap">
            <main>

            </main>
        </div>
        <!--subContentsWrap-->

        <!--//지도 팝업-->
        <div class="fullPopup md-modal-3 shop-popup md-effect-1 md-close md-show" id="modal-Shop">
            <div class="popContents popup-dark shop-search bg-white bg"><!--[20241213 퍼블] .bg-white, .bg 클래스 추가-->
                <a href="#;" class="layPopClose md-close" onclick="fn_mapClose()"></a>
                <header>
                    <h2>전문점 찾기</h2>
                </header>
                <!--contents-->

                <!--//[20241214 퍼블] 지도  추가-->
                <div id="shop-map" class="popup-map">
                    
                    <!--//[D] : 목록 > 핀 눌렀을 때 나오는 영역-->
                    <div class="shop-search-result type02" id="storeInfo" style="display: block;"><!--[20241214 퍼블] shop-search-result type02 클래스로 변경-->
                        <div class="shop-search-single" id="storeInfo">
                            <div class="layout-c"><!--[20241214 퍼블] 클래스 .layout-c  변경-->
                                <div class="shop-content-box layout-c">
                                    <ul><!--[20241214 퍼블] 클래스 .mb-m 삭제-->
                                        <li class="icoArea ic-recom">추천 렌탈 전문점</li><!--[20241214 퍼블] 추가 -->
                                        <li class="tit"><b>넥스트레벨 역삼점</b></li><!--[20241214 퍼블] 클래스 .tit 추가 -->
                                        <li class="txt">서울특별시 강남구 도곡로 143</li><!--[20241214 퍼블] 클래스 .txt 추가 -->
                                        <li><b>[드라이브스루 가능]</b></li>
                                    </ul>
                                    <div class="layout-r">
                                        <div class="shop-state-icon layout-r inline inline-s type02"><!--[20241214 퍼블] 클래스 .type02 클래스 추가-->
                                            <div class="state inline">
                                                <img src="../../img/common/state_ico02.png" alt="타이어">
                                                <span>타이어</span>
                                            </div>
                                            <div class="state inline">
                                                <img src="../../img/common/state_ico05.png" alt="세차">
                                                <span>세차</span>
                                            </div>
                                            <div class="state inline">
                                                <img src="../../img/common/state_ico03.png" alt="경정비">
                                                <span>경정비</span>
                                            </div>
                                            <div class="state inline">
                                                <img src="../../img/common/state_ico04.png" alt="겨울용">
                                                <span>겨울용</span>
                                            </div>
                                            <div class="state inline">
                                                <img src="../../img/common/state_ico06.png" alt="1급정비"><!--[20241214 퍼블] 1급정비 이미지 변경-->
                                                <span>1급정비</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-btn-box"><!--[20241214 퍼블] 클래스  inline text-right align-bottom layout-c  삭제-->
                                    <button type="button" class="md-close"><!--[20241214 퍼블 ] 버튼 > b태그 span 태그 삭제-->
                                        상세보기
                                    </button>
                                    <button type="button" class="md-close">
                                        선택하기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[D] : 목록 > 핀 눌렀을 때 나오는 영역//-->

                    <div class="popup-map-ui">
                        <button type="button" class="btn-position">현재위치</button>
                        <button type="button" class="btn-map-list change-list"><span></span><b>목록</b></button>
                    </div>
                    
                    <div id="mapDiv"></div><!--//[D] : 지도 영역 -->
                </div>
                <!--[20241214 퍼블] 지도 추가//-->


            </div>
        </div>
        <!--지도 팝업//-->
        <!-- //footer 퍼블 예시-->
        <div id="footerWrap">
            <script>
                $(document).ready(function () {
                    $("#footerWrap").load("../footer.html");
                });
            </script>
        </div>
        <!-- footer 퍼블 예시-// -->

        <div class="allBgWrap over-wrap">
            <div id="bgFullImg">
                <div class="customer-bg store"></div>
            </div>
        </div>

    </div>
    <!-- allWrap //-->
</body>

</html>