<footer id="footerWrap">
	<!--//[20241220 퍼블]-->
	<div class="action-buttons-wrap sizeAdjust keyframes">
		<div class="quick-menu-area">
			<a href="" class="quick-btn">
				<div class="icon-wrap">
					<img src="/img/common/ico_quick.png" alt="">
				</div>
				<div class="text-wrap">
					<p class="line1">간편상담</p>
					<p class="line2">바로가기</p>
				</div>
			</a>
		</div>
	</div>
	<script>
		
		$(document).ready(function () {
			/**
			 * [공통] :: 퀵메뉴 버튼
			 */
			function handleScrollButtons() {
				var $quickW = $(".action-buttons-wrap");
				var $footerW = $(".footerWrap");

				$(window).on('scroll', function() {
					var footerT = $footerW.offset().top; // 푸터의 위치
					var scrollT = $(window).scrollTop();
					var winH = $(window).height();

					var footerVisible = (scrollT + winH) > footerT;

					var newBottom;

					if (footerVisible) {
						newBottom = (scrollT + winH - footerT) + 100;
					} else {
						newBottom = 100;
					}

					$quickW.stop().animate({
						bottom: newBottom + "px"
					}, 300);
				});
			}
			handleScrollButtons();

			
		});
		
	</script>
	<!--[20241220 퍼블]//-->


    <div class="footerWrap">

        <p class="foLogo"></p>
        <div class="foCopyright">
            <span>Copyright ⓒ 2019 NEXTLEVEL. all rights reserved </span>
        </div>
    </div>
</footer>