.allBgWrap {
  display: none;
}
.allWrap {
  background-color: #EDEDED;
}
.header-choice-size {
  background-color: #831f82;
  top: 86px;
  width: 100%;
  z-index: 100;
  color: #fff;
}
.header-choice-size .choice-size-inner {
  margin: 0 auto;
  overflow: hidden;
}
.header-choice-size .choice-size-inner ul {
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-left: 6%;
}
.header-choice-size .choice-size-inner ul li {
  float: left;
  display: inline;
  line-height: 65px;
  margin-right: 20px;
  position: relative;
  font-size: 15px;
  display: none;
}
.header-choice-size .choice-size-inner ul li:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -5px;
  height: 5px;
  width: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
}
.header-choice-size .choice-size-inner ul li.size {
  display: block;
}
.header-choice-size .choice-size-inner ul li.size:after {
  content: "";
  position: absolute;
  right: -11px;
  top: 47%;
  margin-top: -5px;
  height: 15px;
  width: 1px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  transform: rotate(0deg);
}
.header-choice-size .choice-size-inner ul li:last-child {
  margin-right: 0;
}
.header-choice-size .choice-size-inner ul li:last-child:after {
  display: none;
}
.header-choice-size .choice-size-inner .btn-box {
  margin-right: 6%;
  float: right;
  line-height: 65px;
  width: 20%;
}
.header-choice-size .choice-size-inner .btn-box img {
  width: 100%;
}
div.step-nav {
  margin-top: 40px;
}
div.step-nav ul {
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
div.step-nav ul li {
  position: relative;
  top: -6px;
  font-size: 16px;
  color: #787878;
  text-align: center;
  padding-top: 20px;
}
div.step-nav ul li:after {
  content: "";
  position: absolute;
  background-image: url(/img/product/step_off.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 11px;
  height: 11px;
  top: 0px;
  left: 50%;
  margin-left: -5px;
}
div.step-nav ul li.active {
  color: #922491;
}
div.step-nav ul li.active:after {
  content: "";
  position: absolute;
  background-image: url(/img/product/step_on.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 27px;
  height: 27px;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}
main.product-list .result-list,
main.product-list .utility,
main.product-list .info .filter-button {
  background-color: #EDEDED;
}
main.product-list .result-cnt-wrap {
  margin: 1% 5%;
  margin-top: 3%;
  font-size: 16px;
  color: #474646;
}
main.product-list .result-cnt-wrap .result_cnt {
  color: #831f82;
}
main.product-list .orderType-wrap {
  margin: 0 5%;
  padding: 1.7% 2% 2.5%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #FFf;
  position: relative;
}
main.product-list .orderType-wrap .order-item {
  display: inline-block;
  padding: 0 5px;
}
main.product-list .orderType-wrap input[type="radio"] {
  display: none;
}
main.product-list .orderType-wrap input[type="radio"] + label {
  color: #aaa;
  padding-left: 0;
  padding-right: 10px;
  font-size: 15px;
  line-height: 1;
}
main.product-list .orderType-wrap input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  margin: -2px 5px 0 0px;
  vertical-align: middle;
  width: 10px;
  height: 8px;
  background-image: url('/img/product/check1-off.png');
  background-size: 100%;
}
main.product-list .orderType-wrap input[type="radio"]:checked + label {
  color: #831f82;
}
main.product-list .orderType-wrap input[type="radio"]:checked + label:before {
  width: 10px;
  height: 8px;
  background-image: url('/img/product/check1-on.png');
  background-size: 100%;
}
main.product-list .orderType-wrap .filter-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FFF;
  border-left: 2px solid #EDEDED;
  height: 100%;
  color: transparent;
  background-image: url('/img/product/ico_filter.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}
.product-item {
  background-color: #FFF;
  position: relative;
  display: block;
  margin: 1rem 5%;
}
.product-item .product-inner {
  padding: 1rem;
}
.product-item .product-wheel {
  position: absolute;
  width: 61px;
  height: 40px;
  left: -10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.product-item .product-wheel.front {
  background-image: url(/img/product/wheel_front_m.png);
}
.product-item .product-wheel.rear {
  background-image: url(/img/product/wheel_rear_m.png);
}
.product-item .product-badge {
  text-align: center;
}
.product-item .product-badge > span {
  display: inline-block;
  zoom: 0.55;
  margin: 0.7em 0.3em;
}
.product-item .product-badge .badge-best {
  width: 130px;
  height: 46px;
  background: url('/img/product/ico-best-on.png');
  background-repeat: no-repeat;
}
.product-item .product-badge .badge-best.off {
  background: url('/img/product/ico-best-off.png');
}
.product-item .product-badge .badge-hot {
  width: 130px;
  height: 46px;
  background: url('/img/product/ico-hot-on.png');
  background-repeat: no-repeat;
}
.product-item .product-badge .badge-hot.off {
  background: url('/img/product/ico-hot-off.png');
}
.product-item .product-slogan {
  margin-top: 0.1em;
  font-size: 1em;
  color: #474646;
  text-align: center;
  white-space: nowrap;
}
.product-item .product-logo {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0.5em;
}
.product-item .product-logo img {
  max-width: 100%;
}
.product-item .product-type {
  font-size: 11pt;
  padding: 0.8em 0;
  clear: both;
  text-align: center;
  color: #831f82;
}
.product-item .product-type .review {
  display: inline-block;
  margin-right: 3em;
  font-size: 11pt;
}
.product-item .product-type .review .star {
  display: inline-block;
  height: 26px;
  width: 155px;
  background-image: url(/img/product/score_sheet.png);
  background-repeat: no-repeat;
  zoom: 0.6;
}
.product-item .product-type .review .star.point00 {
  background-position: 0 0px;
}
.product-item .product-type .review .star.point05 {
  background-position: 0 -26px;
}
.product-item .product-type .review .star.point10 {
  background-position: 0 -52px;
}
.product-item .product-type .review .star.point15 {
  background-position: 0 -78px;
}
.product-item .product-type .review .star.point20 {
  background-position: 0 -104px;
}
.product-item .product-type .review .star.point25 {
  background-position: 0 -130px;
}
.product-item .product-type .review .star.point30 {
  background-position: 0 -156px;
}
.product-item .product-type .review .star.point35 {
  background-position: 0 -182px;
}
.product-item .product-type .review .star.point40 {
  background-position: 0 -208px;
}
.product-item .product-type .review .star.point45 {
  background-position: 0 -234px;
}
.product-item .product-type .review .star.point50 {
  background-position: 0 -260px;
}
.product-item .product-type .review .score {
  color: #831f82;
  font-weight: bold;
}
.product-item .product-type .review .cnt {
  color: #ccc;
}
.product-item .product-spec {
  float: none;
  width: 87%;
  margin: 0.5em auto 0;
}
.product-item .product-spec ul li {
  margin-bottom: 0.2em;
  font-size: 1em;
  overflow: hidden;
}
.product-item .product-spec ul li label {
  float: left;
  width: 40%;
}
.product-item .product-spec ul li .spec-wrap {
  width: 103px;
  float: right;
  margin-top: 0.5em;
  zoom: 1.5;
}
.product-item .product-spec ul li .spec-wrap .spec-value {
  float: right;
  height: 6px;
  width: 100%;
  display: block;
  background-image: url(/img/main/product_spec_off.gif );
  background-repeat: no-repeat;
}
.product-item .product-spec ul li .spec-wrap .spec-value .spec-bar {
  height: 6px;
  background-image: url(/img/main/product_spec_on.gif );
  background-repeat: no-repeat;
  width: 50%;
}
@media screen and (max-width: 390px) {
  .product-item .product-spec ul li {
    margin-bottom: 0.3em;
    line-height: 1.2;
  }
  .product-item .product-spec ul li .spec-wrap {
    float: none;
    margin-top: 0;
  }
  .product-item .product-spec ul li label {
    width: 100%;
    float: none;
    margin: 0 0 2px 0;
    display: block;
  }
}
.product-item .product-image {
  width: 100%;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  margin-top: 0.8em;
}
.product-item .product-image img {
  position: absolute;
  top: -8%;
  left: -25%;
  width: 150%;
  max-width: unset;
}
.product-item .product-brand {
  text-align: center;
  margin-top: 0.3em;
}
.product-item .product-brand img {
  width: 55%;
  max-width: 55%;
}
.product-item .product-price {
  width: 87%;
  clear: both;
  margin: 1.8em auto;
}
.product-item .product-price > div .label {
  display: block;
  color: #FFF;
  margin: 0px 0 5px 0px;
  line-height: 1;
  float: left;
  font-size: 12pt;
  padding: 1em 0 0 0.5em;
  font-weight: normal;
}
.product-item .product-price > div .price {
  line-height: 1;
  display: block;
  margin: 7px 0 0 0;
  text-align: right;
  float: right;
  font-size: 20px;
  padding: 0.4em 0.5em 0 0;
}
.product-item .product-price .buy-price {
  display: block;
  width: 100%;
  background-color: #23b9d6;
  overflow: hidden;
  padding: 0.4em 0;
  margin-bottom: 5px;
  color: #FFF;
}
.product-item .product-price .coupon-price {
  display: block;
  width: 100%;
  background-color: #23b9d6;
  overflow: hidden;
  color: #FFF;
  padding: 0.4em 0;
  margin-bottom: 5px;
}
.product-item .product-price .coupon-price .org_price {
  margin-right: 20px;
  font-size: 0.9em;
  position: relative;
}
.product-item .product-price .coupon-price .org_price:after {
  background-color: #ffffff;
  height: 1px;
  width: 110%;
  content: '';
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: 0px;
}
.product-item .product-price .rantal-price {
  display: block;
  width: 100%;
  background-color: #e84282;
  overflow: hidden;
  color: #FFF;
  padding: 0.4em 0;
  margin-bottom: 5px;
}
.footer-banner {
  margin: 2em 0;
}
.footer-banner > div {
  text-align: center;
  margin: 2em 0;
}
.filterPop {
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: none;
}
.filterPop .popContents {
  background: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow-y: auto;
  padding-bottom: 5%;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filterPop .contents {
  padding: 3% 10%;
}
.filterPop header {
  position: relative;
  padding: 3% 4% 0;
}
.filterPop header a.layPopClose {
  position: absolute;
  right: 4%;
  zoom: 0.7;
  width: 41px;
  height: 41px;
  background-position: -125px -32px;
  background: url(../img/product/close.png) no-repeat 0 0;
}
.filterPop .filter-season-wrap {
  text-align: center;
  padding: 20px 0 20px;
}
.filterPop .filter-season-wrap .season-item {
  display: inline-block;
  padding: 0 10px;
}
.filterPop .filter-season-wrap input[type="checkbox"] {
  display: none;
}
.filterPop .filter-season-wrap input[type="checkbox"] + label {
  color: #000;
  padding-left: 0;
  padding-right: 0px;
  text-align: center;
}
.filterPop .filter-season-wrap input[type="checkbox"] + label:before {
  zoom: 0.55;
  content: '';
  display: block;
  margin-bottom: 7px;
  vertical-align: middle;
  width: 125px;
  height: 125px;
}
.filterPop .filter-season-wrap input[type="checkbox"]:checked + label:before {
  width: 125px;
  height: 125px;
}
.filterPop .filter-season-wrap input[type="checkbox"] + label.all:before {
  background: url('/img/product/wather-all-off.png');
}
.filterPop .filter-season-wrap input[type="checkbox"]:checked + label.all:before {
  background: url('/img/product/wather-all-on.png');
}
.filterPop .filter-season-wrap input[type="checkbox"] + label.sun:before {
  background: url('/img/product/wather-sun-off.png');
}
.filterPop .filter-season-wrap input[type="checkbox"]:checked + label.sun:before {
  background: url('/img/product/wather-sun-on.png');
}
.filterPop .filter-season-wrap input[type="checkbox"] + label.snow:before {
  background: url('/img/product/wather-snow-off.png');
}
.filterPop .filter-season-wrap input[type="checkbox"]:checked + label.snow:before {
  background: url('/img/product/wather-snow-on.png');
}
.filterPop hr {
  display: block;
  border: none;
  background-color: #ccc;
  height: 1px;
}
.filterPop .filter-priority-wrap {
  padding: 24px 0 10px 70px;
}
.filterPop .filter-priority-wrap .priority-item {
  margin-bottom: 12px;
}
.filterPop .filter-priority-wrap input[type="radio"] {
  display: none;
}
.filterPop .filter-priority-wrap input[type="radio"] + label {
  color: #000;
  padding-left: 0;
  padding-right: 5px;
  font-size: 13pt;
}
.filterPop .filter-priority-wrap input[type="radio"] + label:before {
  zoom: 0.55;
  content: '';
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  background: url('/img/product/check2-off.png');
}
.filterPop .filter-priority-wrap input[type="radio"]:checked + label {
  color: #831f82;
}
.filterPop .filter-priority-wrap input[type="radio"]:checked + label:before {
  background: url('/img/product/check2-on.png');
}
.filterPop input[type="checkbox"] {
  display: none;
}
.filterPop input[type="checkbox"] + label {
  color: #000;
  padding-left: 0;
  padding-right: 5px;
}
.filterPop input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url('/img/product/list_sprites.png') -244px -90px;
}
.filterPop input[type="checkbox"]:checked + label {
  color: #831f82;
}
.filterPop input[type="checkbox"]:checked + label:before {
  width: 26px;
  height: 26px;
  background: url('/img/product/list_sprites.png') -244px -136px;
}
.filterPop .price-range-wrap {
  padding: 20px 28px;
}
.filterPop .price-range-wrap .price-label {
  display: inline-block;
  font-weight: bold;
}
.filterPop .price-range-wrap .range-input {
  display: none;
}
.filterPop .price-range-wrap .price-range {
  float: right;
  color: #831f82;
  font-size: 17px;
  font-weight: bold;
}
.filterPop .price-range-wrap .price-slider {
  margin-top: 20px;
  margin-bottom: 30px;
}
.filterPop .price-range-wrap .price-slider .noUi-handle {
  border: 1px solid #831f82;
  border-radius: 100%;
  background: #FFF;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
}
.filterPop .price-range-wrap .price-slider .noUi-handle::before {
  display: none;
}
.filterPop .price-range-wrap .price-slider .noUi-handle::after {
  display: none;
}
.filterPop .price-range-wrap .price-slider .noUi-connect {
  background: #831f82;
}
.filterPop .price-range-wrap .price-slider.noUi-horizontal {
  height: 2px;
  border: none;
  background: #ccc;
}
.filterPop .price-range-wrap .price-slider .noUi-marker {
  display: none;
}
.filterPop .price-range-wrap .price-slider .noUi-pips {
  position: relative;
}
.filterPop .price-range-wrap .price-slider .noUi-pips .noUi-value:last-child {
  margin-left: -45px;
}
.filterPop .price-range-wrap .price-slider .noUi-pips-horizontal {
  height: 20px;
}
.filterPop .price-range-wrap .price-slider .noUi-value-horizontal {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  font-size: 15px;
  color: #7c7c7c;
}
.filterPop #priceRangeWrap_buy .noUi-handle {
  border: 1px solid #23b9d6;
}
.filterPop #priceRangeWrap_buy .noUi-connect {
  background: #23b9d6;
}
.filterPop #priceRangeWrap_rent .noUi-handle {
  border: 1px solid #e84282;
}
.filterPop #priceRangeWrap_rent .noUi-connect {
  background: #e84282;
}
.filterPop .btn-wrap {
  margin-top: 20px;
  text-align: center;
}
.filterPop .btn-wrap button {
  border: 1px solid #8a8a8a;
  padding: 15px;
  font-size: 18px;
  display: inline-block;
  width: 84%;
  line-height: 1;
  background-color: #FFF;
  color: #474646;
}
.filterPop .btn-wrap button.btn-reset {
  width: 48%;
}
.filterPop .btn-wrap button.btn-fix2 {
  border: 1px solid #831f82;
  background-color: #831f82;
  width: 48%;
  color: #FFF;
}
